*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}

li, a, button
{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo
{
    cursor: pointer;
}

.navigatie
{
    list-style: none;
}

.navigatie li{
    display: inline-block;
    padding: 0px 20px;

}

.navigatie li a
{
    transition: all 0.3s ease 0s;

}

